* {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

main section{
  gap: 10px;
  align-self: auto;
}

.body {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
}

.sidebar {
  display: block;
  text-align: center;
  position: fixed;
}

.sidebar h1{
    text-align: center;
    font-family: "rubik";
    margin-top: 50px;
}

.avatar {
  vertical-align: middle;
  width: 65px;
  height: 65px;
  border-radius: 65%;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
    padding: 10px 20px;
    color: var(--light);
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
}

.sidebar a:hover{
  color: slateblue;
  margin-left: 0px;
  transition: 0.4s;
}

main {
  height: auto;
  width: auto;
  margin-left: 120px;
}

.header{
  background: linear-gradient(90deg, #1900ff 0%, #00ffff 80%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "rubik";
  font-style: oblique;
  margin-bottom: 100px;
  margin-top: 80px;
  margin-right: 50px;
  font-size: 70px;
  text-decoration: underline skyblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 16px;
  font-family: "rubik";
}

.container div {
  border: solid;
  border-radius: 10px;
  opacity:0.5;
  transition: 0.3s;
  background-color: #000653;
  margin-bottom: 100px;
}

.container div:hover {
  opacity:1;
}

.container div a {
  height: 0px;
}

.container .about {
  opacity: 1;
  border: solid;
  width: auto;
  height: auto;
  margin-left: 100px;
  align-items: left;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 100px;
}

.container .about h4 {
  text-decoration: underline;
}

.coding {
  height: auto;
  width: 640px;
}

.container img {
  border-radius: 0px 0px 10px 10px;
}